@import "tailwindcss";

@layer utilities {
  @keyframes enter {
    from {
      opacity: 0;
      transform: translateX(-2.5rem); /* slide-in-from-left-10 */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-enter {
    animation: enter 0.5s ease-out forwards;
  }
}
